@use '_colors' as *;

.btn-main {
  border: none;
  background: linear-gradient(to right, $main-green,$main-darker-green);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
  border-radius: 5px;
  color: white;
  width: 200px;
  height: 60px;
  padding: 12px;
}